@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  background-color: #000;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

/* Disable all focus outlines */
*:focus {
  outline: none !important;
}

*:focus-visible {
  outline: none !important;
}

/* BaseUI styles */
/* https://base-ui.com/react/utils/csp-provider#disable-inline-style-elements */

.base-ui-disable-scrollbar {
  scrollbar-width: none;
}

.base-ui-disable-scrollbar::-webkit-scrollbar {
  display: none;
}
